@charset 'utf-8';

$main-color:#ED145B;
$text-color:#5A5A5A;
$title-color:#2B2B2B;
$yellow:#EDAA14;

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: $text-color;
    line-height: (24/14);
    letter-spacing: 0.025em;
    transition: all 0.3 ease;
}

// $breakpoints: (
//     "tablet": "screen and (min-width: 640px)",
//     "desktop": "screen and (min-width: 900px)",
//     "full": "screen and (min-width: 1200px)",
//     ) !default;

$tablet:"screen and (min-width: 640px)";
$desktop:"screen and (min-width: 900px)";
$full:"screen and (min-width: 1200px)";

// @mixin m-query($breakpoint) {
//     @media #{map-get($breakpoints,$breakpoint)} {
//         @content;
//     }
// }

@mixin m-query($breakpoint) {
    @media #{$breakpoint} {
        @content;
    }
}

@mixin flex(){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin inner($w,$mw){
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin btn($color){
    display: block;
    text-align: center;
    width: 200px;
    background-color: $color;
    padding: 16px 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.header{
    background-color: black;
    padding: 40px 0;
    &__inner{
        @include inner(95%,560px);
        @include m-query($desktop){
            @include inner(95%,900px)
        }
    }

    &__navi{
        @include flex();
    }

    &__ul{
        @include flex();
    }
}

.list {
    &__text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;

    &--select {
        color: $main-color;
        font-weight: bold;
    }
}
}

.accent{
    color: $main-color;
    font-size: 46px;
    letter-spacing: 0.025em;
}

.space{
    @include m-query($desktop){
        display: none;
    }
}

// title
.title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    color: $title-color;
}

.top{
    background: url(../images/bg_mainvisual.png) no-repeat center /cover;
    padding: 150px 0;
    margin-bottom: 80px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    line-height: (24/14);
    @include m-query($desktop){
        text-align: center;
        padding: 180px 0;
    }
    &__inner{
        @include inner(95%,560px);
        @include m-query($desktop){
            @include inner(95%,900px);
        }
    }

    &__catch{
        font-size: 46px;
        font-weight: bold;
        color: white;
        margin-bottom: 40px;
        line-height: (55/46);
    }

    &__text{
        color: white;
    }

    &__btn{
        @include btn($main-color);
        font-size: 14px;
        margin-top: 80px;

        @include m-query($desktop){
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.update{
    margin-bottom: 80px;
    &__inner{
        @include inner(95%,560px);
        @include m-query($desktop){
            @include inner(95%, 900px);
        }
    }

    &__wrap{
        @include m-query($desktop){
            @include flex();
        }
    }
}

.content{
    @include m-query($desktop){
        width: (260/900*100%);
    }
    &:not(:last-child){
        margin-bottom: 60px;
        @include m-query($desktop){
            margin-bottom: 0;
        }
    }
    &__label{
        display: inline-block;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        padding: 7px 10px;
        background-color: black;
    }

    &__image{
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}

// about
.service{
    margin-top: 80px;
    &__inner{
        @include inner(95%, 560px)
    }
}

.test{
    background: url(../images/bg_testimonials.png);
    &__inner{
        padding: 80px 0;
        @include inner(95%,560px);
            @include m-query($desktop){
                @include inner(95%,900px );
            }
        }

}

.info{
    text-align: center;
    background-color: white;
    padding: 50px;
    &__text{
        margin-top: 37px;
        font-style: italic;
        text-align: (32/16+px);
    }
    &__name{
        margin-top: 25px;
        margin-bottom: 40px
    }
    &__btn{
        @include btn($yellow);
        margin-left: auto;
        margin-right: auto;
    }
}

.footer{
    background-color: black;
    padding: 60px 0 160px;
    &__inner{
        @include inner(95%, 560px);
        @include m-query($desktop){
            @include inner(95%,900px )
        }
    }
    &__copy{
        color: white;
    }

}